section{
    background-color: rgb(186, 111, 19);
}
#header{
    background-color: rgb(90, 14, 162);
    
}
#continer{
    background-color: blue;
}
#imgvid{
    background-color: aqua;
}
.section img{
	max-width: 400px;
}
.container {
    width: 1440px;
    margin: 0 auto;
}

.login-form-div {
    padding: 50px;
    background-color: green;
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 15em;

}

.login-box{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 75px;
}

.login-info{
	background-color: red;
	padding: 50px;
}
